!!! 5
html(ng-app="app")
	head
		title Datepicker demo
		link(rel="stylesheet", href="/calendar/calendar.css")
		script(src="/components/angular/angular.min.js")
		script(src="/calendar/calendar.js")
		script(src="/app.js")
	body(ng-controller="AppCtrl")
		
		h2 Date range
		div.date-range-selector(date-range-selector, from="from", to="to", on-show-hide="onShowHide")

		h2 Dropdown
		div
			input(type="text", date-time, ng-model="date", required="true", months-count="1", date-format="d.M.yyyy")

		h2 Static
		div
			span {{date | date: 'd.M.yyyy'}}
			date-picker(value="date")

		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu
		p huhu