div.datepicker
	div.nav
		a.prev(href="#", ng-click="prev()") &lt;
		a.next(href="#", ng-click="next()") &gt;

	div.content
		table(ng-repeat="month in monthsData")
			thead
				tr
					th(colspan="7", ng-bind="month[0][0] | date: 'MMMM yyyy'")
			tbody
				tr(ng-repeat="week in month")
					td(ng-repeat="day in week")
						span(ng-bind="day | date: 'd'")